<h4>Packet Inspector</h4>
<div class="well well-lg" style="height: 300px; overflow: scroll;" >
	<pre>{{inspector.state.messages}}</pre>
</div>
<div class="input-group">
    	<input id='inspectorActiveToggle' type="checkbox" ng-model='inspector.state.active' ng-change='inspector.Activate()'> Active
</div>