<h4>Interpolation of Position</h4>
<div class="well well-lg" style="height: 550px; width: 550px;" ><canvas id='interpolationTabCanvas' width='500' height='500'></canvas></div>

<div class="input-group">
    	<input id='interpolationTabActiveToggle' type="checkbox" ng-model='interpolationTab.state.active' ng-change='interpolationTab.Activate()'> Active
</div>