<h4>Position Packet Data</h4>
<div class="well well-lg" style="height: 550px; width: 550px;" ><canvas id='packetTabCanvas' width='500' height='500'></canvas></div>

<div class="input-group">
    	<input id='packetTabActiveToggle' type="checkbox" ng-model='packetTab.state.active' ng-change='packetTab.Activate()'> Active
</div>