<section>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<ul class="nav nav-pills">
		<li ng-class="{active: panel.tab === 1}"> <a href ng-click="panel.tab = 1">Echo </a> </li>
		<li ng-class="{active: panel.tab === 2}"> <a href ng-click="panel.tab = 2">Position</a> </li>
		<li ng-class="{active: panel.tab === 3}"> <a href ng-click="panel.tab = 3">Interpolation</a> </li>
        <li ng-class="{active: panel.tab === 4}"> <a href ng-click="panel.tab = 3">Dead Reckoning</a> </li>
	</ul>
    <div ng-switch="panel.tab">
        <div class="panel" ng-switch-when="1">
            <packet-inspector></packet-inspector>
        </div>
        <div class="panel" ng-switch-when="2">
            <packet-tab></packet-tab>
        </div>
        <div class="panel" ng-switch-when="3">
            <interpolation-tab></interpolation-tab>
        </div>
        <div class="panel" ng-switch-when="4">
            <h4>Dead Reckoning</h4>
        </div>
    </div>
    <div class='well-sm'>
        <pre>TCP: {{panel.clients.tcp}}  UDP: {{panel.clients.udp}}  Browser: {{panel.clients.browser}}</pre>
    </div>
</section>