<!-- Server Details Toogle -->
<div>
	<div>
        <button class="btn btn-default pull-right" ng-click="server.isCollapsed = !server.isCollapsed">Server</button>
        <!-- <hr> -->
        <div collapse="server.isCollapsed">
            	<div class='row'>
            		<div class='col-sm-10'>
            			<div class="well well-lg">
			            	<div class="col-sm-4">
								<input type="text" ng-model="server.ip" class="form-control" placeholder="IP">
			            	</div>
			            	<div class="col-sm-2">
								<input type="text" ng-model="server.port" class="form-control" placeholder="Port">
			            	</div>
			            	<div class="col-sm-3">
								<button type="button" class="btn btn-primary" ng-click='server.connect()'>Connect</button>
			            	</div>
			            	<div class="col-sm-3 ">
								<button type="button" class="btn btn-primary" ng-click='server.close()'>Disconnect</button>
			            	</div>
			            	<br/>
			            </div>
           			</div>
            	</div>
            </div> 
        </div>
    </div>
</div>